@import "../assets/styles/constants/index";

.sm-main {
  background: transparent url('../assets/images/background.jpg') no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;

  sm-signup {
    display: flex;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 1;

    @include media-breakpoint-up(lg) {
      width: 550px;
      min-width: 550px;
      position: relative;
    }
  }

  &__text {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    text-align: center;
    width: calc(100% - 36px);
    color: $white;
    position: relative;
    max-width: 400px;
    margin-bottom: 54px;
    margin-right: 16px;

    @include media-breakpoint-up(xl) {
      margin-right: 98px;
      max-width: 480px;
    }
  }

  &__title {
    font-weight: bold;
    line-height: 0.67;
    letter-spacing: 0.3px;
    margin-bottom: 84px;
    font-size: 64px;
  }

  &__sentence {
    font-size: 24px;
    line-height: 1.34;
    letter-spacing: 0.1px;
    margin-bottom: 30px;

    @include media-breakpoint-up(xl) {
      font-size: 32px;
    }

    sup {
      opacity: 0.33;
      font-size: 50px;
      font-weight: bold;
      line-height: 0.66;
      letter-spacing: 6.7px;
      position: absolute;
      left: 10px;

      @include media-breakpoint-up(xl) {
        font-size: 134px;
        left: -30px;
      }

      &:last-child {
        left: auto;
        transform: scale(-1);
      }
    }
  }

  &__author {
    font-size: 24px;
    font-weight: 500;
    line-height: 1.79;
    letter-spacing: 0.1px;
  }
}
