input[type] {
  appearance: none;
  outline: 0;
  font-family: Bosch, sans-serif !important;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  appearance: none;
  margin: 0;
}

input::-webkit-contacts-auto-fill-button {
  visibility: hidden;
  display: none !important;
  pointer-events: none;
  position: absolute;
  right: 0;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px white inset;
}

button {
  outline: 0 !important;
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;
  color: inherit;
  font: inherit;
  line-height: normal;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  -webkit-appearance: none;
}

textarea {
  resize: none !important;
  overflow: hidden !important;
  line-height: 1.5 !important;
  outline: none !important;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
